.wrapper{
    margin-top: 500px;
    margin: 0px auto;
    width:80%;
    grid-gap: 30px;

    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}

.wrapper .card{
    margin: 5px auto;
}

@media(min-width :1200px){
    .wrapper{
        width:1000px;
    }
}









