.burger__toggler {
  position: absolute;
  top: 150px;
  left: 12vw;
  z-index: 2;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.burger__toggler span, .burger__toggler span::before, .burger__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: #000000;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.burger__toggler span::before {
  top: -8px;
}

.burger__toggler span::after {
  top: 8px;
}

.burger__toggler.active>span {
  background: transparent;
}

.burger__toggler.active>span::before, .burger__toggler.active>span::after {
  background: white;
  top: 0px;
}

.burger__toggler.active>span::before {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.burger__toggler.active>span::after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.burger {
  position: absolute;
  text-align: center;
  top: 100px;
  left: -30%;
  z-index: 1;
  color: white;
  background: #1B2329;
  width: 25%;
  height: calc(100% - 100px);
  padding: 0 20px;
  display:list-item;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.burger .cont{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
  margin-top:30%;
}

.burger a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none; 

}

.burger a:hover{
  color: #00AEFB;
}
.burger.active {
  left: 0;
}

@media only screen and (max-width: 600px) {
  .burger__toggler {
    left: 10px;
  }
  .burger {
    width: 250px;
    left: -250px;
    padding: 50px;
  }
}




