.container-box {
    background:white;
    margin: 100px auto;
    padding-bottom: 30px;
    width: 500px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
}
.wrapper {
    padding-top: 70px;
    margin: 10px auto;
    width: 75%;
    align-items: center;
}

.wrapper h1{
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.form {
    font-size: 19px;
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin:30px auto;
}

.form input {
    font-size: 20px;
    width: 100%;
    background-color: transparent;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: 2px solid #00AEFB;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #FC0EDC;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus +.label-name .content-name,
.form input:valid  +.label-name .content-name {
    transform: translateY(-150%);
    font-size: 12px;
    color: #5fa8d3;
}

.form input:focus+ .label-name::after,
.form input:valid+.label-name::after {
    transform: translateX(0%);
}

@media (max-width: 768px){
    .container-box {
        width: 400px;
        
    }
}

@media(max-height:800px){
    .container-box {
        width: 400px;
        margin-top: 10px;
        padding-bottom:0px;
        
    }
}
