* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: .9fr .1fr .01fr;
    justify-content: space-between;
    align-items: center;
    padding:  30px 10%;
    z-index: 20;

    
}

.logo {
    cursor: pointer;
}

.nav__links a,  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 10px 20px;
}

.nav__links li a {
    color: black;
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #00AEFB;
}

.usr-avatar {
    overflow: hidden;
    width:50px;
    height:50px;
    background-color: #00AEFB;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;

}



.usr-avatar img {
    pointer-events: none;
    width: 120%;
    margin: -10%;
}

.button-rotate{
    transform: rotate(720deg);
}

/* DropDown*/
.dropdown{
    overflow:hidden;
    height: 0;
    width: 300px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    background-color: #1B2329;
    overflow-x: hidden;
    transition: height 0.5s ease 0s;
    border-radius: 5px;
    opacity: .9;
}

.dropdown--active{
    height: 50%;
}

.dropdown__close:hover{
    cursor: pointer;
}

.dropdown__content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown a {
    color: white;
    padding: 15px;
    font-size: 20px;
    display: block;
    transition: color 0.3s ease 0s;
}
.dropdown a:hover, .dropdown a:focus {
    color: #00AEFB ;
}

/* Mobile Nav */

.menu {
    display: none;
}

.menu:hover {
    cursor: pointer;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: #1B2329;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
    color: #00AEFB ;
}

.overlay .close {
    /* border: 1px solid red; */
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

.overlay .close:hover {
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    #desktop-cta{
        display: none;
    }
    .nav__links {
        display: none;
      
    }
    .menu {
        display: initial;
    }
}