
.tm-bg-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-mt-big {
  margin-top: 70px;
}

.tm-mt-small {
  margin-top: 20px;
}

.tm-block {
  padding: 50px 45px;
}

.tm-block-title {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 30px;
}

.admin-wrapper .left-sidebar {
  
  flex: 2;
  height: 100%;
  background: #344153;
}


.tm-content-row {
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; /* To offset col padding */
}

.tm-col {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.tm-col-big {
  width: 61.2%;
}

.tm-col-small {
  width: 21.95%;
}

.tm-link-black {
  color: black;
}

.tm-link-black:hover,
.tm-link-black:focus {
  color: #0266c4;
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1630px;
  }
}

@media (max-width: 1275px) and (min-width: 1200px) {
  .nav-item {
    margin-right: 15px;
  }
}

@media (max-width: 1350px) and (min-width: 1200px) {
  .tm-table-actions-row {
    display: block;
  }
  .tm-table-actions-col-right {
    margin-top: 30px;
  }
}

@media (max-width: 1350px) {
  .nav-item {
    margin-right: 1px;
  }
}

@media (max-width: 1199px) {
  .tm-col-big,
  .tm-col-small {
    width: 49.65%;
  }

  


}

@media (max-width: 991px) {
  .tm-col-big,
  .tm-col-small {
    width: 100%;
    min-height: 383px;
    height: auto;
  }
  .tm-block {
    padding: 30px;
  }

  .tm-table-actions-row {
    display: block;
  }

  .tm-table-actions-col-right {
    text-align: left;
    margin-top: 30px;
  }

  .tm-edit-product-row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 633px) {
  .pagination {
    flex-wrap: wrap;
  }

  .tm-pagination {
    justify-content: flex-start;
  }

  .tm-pagination-label {
    display: inline-block;
    margin-right: 0;
  }

  .page-item {
    margin-top: 10px;
  }
}

@media (max-width: 574px) {
  .navbar-collapse {
    top: 70px;
  }

  .tm-btn-right {
    text-align: left;
    margin-top: 20px;
  }

  .navbar {
    margin-top: 30px;
    height: auto;
  }

  body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tm-site-title {
    font-size: 1.4rem;
    margin-left: 7px;
  }

  .tm-site-icon {
    font-size: 2em;
  }
}

@media (max-width: 480px) {
  .tm-mt-big {
    margin-top: 45px;
  }
}

@media (max-width: 424px) {
  .navbar-collapse {
    top: 107px;
  }
}
